config_general:
  build_preprocess: null
  build_preprocess_test: null
  build_train: null
  build_predict: null
  build_kpis: yes

config_preprocess:
  input_data_request: competition_project\data-science-test\data\requests_train.csv
  input_data_individuals: competition_project\data-science-test\data\individuals_train.csv
  variables_selected: [animal_presence,child_situation,child_to_come,district,group_composition_label,group_type,housing_situation_label,number_of_underage,victim_of_violence,victim_of_violence_type,'individual_id_count','age_mean','age_max','age_min','creation_date_mean','creation_date_max','creation_date_min','role1__child','role1__family member','role1__husband/spouse','role1__isolated parent','role1__isolated person','role1__nan','role1__other','role1__partner','role2__child/underage with family','role2__family member','role2__husband/spouse','role2__isolated adult','role2__isolated parent','role2__isolated underage/child','role2__nan','role2__other','role2__partner','marital_st_civil partner','marital_st_cohabitation','marital_st_divorced','marital_st_marital relationship','marital_st_married','marital_st_nan','marital_st_separated','marital_st_single person','marital_st_widowed','pregnancy_f','pregnancy_nan','pregnancy_t']
  variable_for_join: request_id
  variable_target: granted_number_of_nights
  output_path: output
  tablename: train_df_

config_preprocess_test:
  input_data_request: competition_project\data-science-test\data\requests_test.csv
  input_data_individuals : competition_project\data-science-test\data\individuals_test.csv
  variables_selected : [animal_presence,child_situation,child_to_come,district,group_composition_label,group_type,housing_situation_label,number_of_underage,victim_of_violence,victim_of_violence_type,'individual_id_count','age_mean','age_max','age_min','creation_date_mean','creation_date_max','creation_date_min','role1__child','role1__family member','role1__husband/spouse','role1__isolated parent','role1__isolated person','role1__nan','role1__other','role1__partner','role2__child/underage with family','role2__family member','role2__husband/spouse','role2__isolated adult','role2__isolated parent','role2__isolated underage/child','role2__nan','role2__other','role2__partner','marital_st_civil partner','marital_st_cohabitation','marital_st_divorced','marital_st_marital relationship','marital_st_married','marital_st_nan','marital_st_separated','marital_st_single person','marital_st_widowed','pregnancy_f','pregnancy_nan','pregnancy_t']
  output_path: competition_project\output
  tablename: test_df_

config_train:
  input_data: competition_project\output\train_df_20211210_202555.csv
  input_test_data: null
  output_directory: competition_project\output

config_predict:
  input_model: competition_project\output\model_20211210_204530\model_lgbm.pkl
  input_data: competition_project\output\test_df_20211210_202603.csv
  output_directory: competition_project\output

config_kpis:
  input_data_pred: competition_project\output\prediction_20211210_204721.csv
  input_data_assess: competition_project\output\test_df_20211210_202603.csv
  output_directory: competition_project\output\model_20211210_204530